{%extends "index.html"%}
{% block content %}

<div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
              <li> <br> </li>
              <li> <br> </li>
              <li> <br> </li>
              <li> <br> </li>
              <li> GENRES </li>
              {% for genre in genres %}
                {% if genre==current_genre %}
                    <li class="active"><a href="/{{genre.replace(" ","").replace("&","").replace("/","")}}"><b>{{genre}} -></b><span class="sr-only">(current)</span></a></li>
                {% else %}
                    <li ><a href="/{{genre.replace(" ","").replace("&","").replace("/","")}}">{{genre}} </a></li>
                {% endif %}
              {% endfor %}
          </ul>
         </div>
          <li> <br> </li>
               <br>
               <br>
          <div class="container-fluid">
              <br>
              <br>
               <br>
           Watch a new show. All details you need in one place.

          <h2 class="sub-header">{{current_genre}}</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>

              </thead>
              <tbody>
              {% for i in range (0,30) %}
                <tr>
                   <td>{{i+1}}.</td>
                  <td> <img src={{poster_links[i]}}></td>
                  <td><b><a href={{trailer_links[i]}} target="_blank"> {{elements[i]}} </a>  </b><br>
                       <a href={{trailer_links[i]}} target="_blank">Trailer</a>   Release Date: {{release_dates[i]}}</td>
                  <td><a href={{g_link}}+{{elements[i].replace(" ", "+").replace("&", "and")}} target="_blank">Search on Google</a></td>
                  <td><b>IMDB{{ratings[i]}} </b> </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          </div>

      </div>
    </div>
{%endblock%}
